$primary-color: #fa8072;
$secondary-color: #72ecfa;
$bg-color: #ebebeb;
$bg-alt: #fff;
$bg-font: #151515;
$font: "Poppins", sans-serif;

$bg-color-dark: #151515;
$bg-alt-dark: #1f1f1f;
$bg-font-dark: #ebebeb;
