@import "../variables";
@import "../mixins";

.dark-mode {
	body {
		background-color: $bg-color-dark;
		color: $bg-font-dark;
	}
	.content {
		background-color: $bg-alt-dark;
	}
	.navbar {
		background-color: $bg-alt-dark;
	}
	#hme_tsk {
		.tsks {
			background-color: $bg-color-dark;
		}
	}
	#list-tsks {
		.tasks {
			background-color: $bg-color-dark;
		}
	}
	form {
		background-color: $bg-alt-dark;
	}
	input {
		background-color: #33333300;
		color: $bg-font-dark;
	}
	::-ms-reveal {
		filter: invert(100%);
	}
	.toggle-mode {
		background-color: $bg-color-dark;
	}
	.modal-content {
		background-color: $bg-alt-dark;
		color: $bg-font-dark;
		select {
			background-color: $bg-color-dark;
			color: $bg-font-dark;
		}
	}
}
